venv/
ENV/
env/
.venv/
.venv1/

__pycache__/
*.py[cod]
*.pyo

*.log
*.tmp
*.swp

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

htmlcov/
.coverage
.tox/
.nox/
.cache/

.env
*.env

*.so
*.dll
*.exe
*.out
*.a
*.o

configs/api_keys.json
data/*

*.session-journal
*.session

temp/*